.footer {
  margin: 0;
  padding: 150px 0;
  flex-grow: 0;
  // opacity: .5;
  display: flex;
  justify-content: $centerTheme;
  background-image: url('/assets/footer-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 760px;
    max-width: 100%;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  a {
    color: inherit;
  }

  .copyright {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-items: $centerTheme;
    font-size: 1rem;
    justify-content: $centerTheme;

    &--user {
      margin: auto;
      text-align: center;
    }

    & > *:first-child:not(:only-child) {
      margin-right: 10px;
    }

    span {
      white-space: nowrap;
    }
  }
}
